<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Suggestion</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="dark-theme">
    <div class="container">
      <h1>Find a Movie You'll Love</h1>

      <div class="button-group">
        <a href="/suggest/action"><button>Action</button></a>
        <a href="/suggest/comedy"><button>Comedy</button></a>
        <a href="/suggest/drama"><button>Drama</button></a>
        <a href="/suggest/horror"><button>Horror</button></a>
        <a href="/suggest/animation"><button>Animation</button></a>
      </div>
    </div>
  </body>
</html>
